/* -primary text color #212121
    secondary text color #757575
    accent color #2196F3
    extra color #000000

    hero-bg-color #2F303A
    main-bg-color #FFFFFF
    section-bg-color #F5F4FA  
*/

:root {
  --page-header-color: #ececec;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --black-text-color: #000000;

  --accent-color: #2196f3;
  --items-color: #afb1b8;

  --primary-bg-color: #ffffff;
  --accent-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.novisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin: 0 auto;
}

/* ------------------------- */
/* HEADER SECTION */

.page-header {
  border-bottom: 1px solid var(--page-header-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__postlabel {
  color: var(--black-text-color);
}

/* Nav */

.nav {
  margin-left: 93px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);

  width: 106%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Contacts */

.contacts__list {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ------------------------- */
/* HERO SECTION */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--accent-bg-color);
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-text-color);
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* ------------------------- */
/* FEATURES SECTION */

.feature__list {
  display: flex;
}

.feature__item:not(:first-child) {
  margin-left: 30px;
}

.feature__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);

  line-height: 1.71;
}

/* ------------------------- */
/* OUR-SERVICE SECTION */
.section-service {
  padding-top: 0;
  padding-bottom: 94px;
}

.service__list {
  display: flex;
}

.service__item {
  position: relative;
}

.service__item:not(:first-child) {
  margin-left: 30px;
}

.service__text {
  color: var(--white-text-color);
  font-weight: 700;
  text-transform: uppercase;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

/* ------------------------- */
/* OUR-TEAM SECTION */
.team__section {
  background-color: var(--secondary-bg-color);
}

.team__list {
  display: flex;
}

.team__card {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:first-child) {
  margin-left: 30px;
}

.team__desc {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  color: var(--secondary-text-color);
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__contacts {
  display: flex;
  gap: 10px;
  margin: 0 32px;
}

.tmcont__item {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socnet {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--items-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socnet:hover,
.socnet:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.socnet__icon {
  fill: currentColor;
}

/* ------------------------- */
/* CLIENTS SECTION */

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  color: var(--items-color);

  outline: 1px solid var(--items-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover,
.clients__item:focus {
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

/* ------------------------- */
/* FOOTER SECTION */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo__postlabel {
  color: var(--white-text-color);
}

.address__list {
  font-style: normal;
  line-height: 1.71;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__location {
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__location:hover,
.address__location:focus {
  color: var(--accent-color);
}

.address__contact {
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
  color: var(--accent-color);
}

.join {
  margin-left: 70px;
}

.join__title {
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__contacts {
  display: flex;
  gap: 10px;
}

.join__socnet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__socnet:hover,
.join__socnet:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: currentColor;
}

.subscribtion {
  margin-left: auto;
}

.subscribtion__title {
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe {
  display: flex;
  position: relative;
}

.subscribe__input {
  width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;

  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:hover,
.subscribe__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border-radius: 4px;
}

.subscribe__button:hover,
.subscribe__button:focus {
  /* outline: none; */
  outline: none;
  animation-name: pulse;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.subscribe__icon {
  fill: currentColor;
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* transform: scale(0.25); */
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  padding: 3px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.callorder {
  padding: 40px;
}

.callorder-title {
  margin-bottom: 12px;

  /* font-weight: 700; */
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* .callform {
 display: flex;
 flex-direction: column;
} */
.callform-block {
  margin-bottom: 10px;
}

.callform-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.6;

  letter-spacing: 0.01em;

  color: #757575;
}

.callform-field {
  position: relative;
  display: block;
}

.callform-input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callform-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callform-input:focus + .callform-icon,
.callform-input:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

.callform-field.callform-comment {
  margin-bottom: 20px;
}

.callform-commentinput {
  display: block;
  height: 120px;
  width: 100%;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callform-commentinput:focus {
  border-color: var(--accent-color);
  outline: none;
}

.callform-commentinput::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.callform-policy {
  margin-bottom: 30px;
  text-align: center;
}

.callform-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  /* white-space: nowrap; */
  /* clip-path: inset(100%); */
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-icon {
  width: 16px;
  height: 16px;
  fill: none;
  /* background-color: var(--accent-color); */
  margin-right: 7px;
  border: 1px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callform-agreement:hover .agreement-icon {
  border-color: var(--accent-color);
}

.callform-checkbox:checked + .agreement-icon {
  fill: var(--white-text-color);
  background-color: var(--accent-color);
  background-size: contain;
  border-color: var(--accent-color);
}

.callform-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.callform-agreement:hover .agreement-icon,
.callform-checkbox:focus + .agreement-icon {
  border-color: var(--accent-color);
}

.agreement-pop {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-pop:hover,
.agreement-pop:focus {
  font-weight: 700;
}

.callform-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  background-color: var(--accent-color);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callform-button:hover,
.callform-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

/* ----------------------------PORTFOLIO PAGE------------------------------ */
/* FILTER */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.status-filter.active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.status-filter {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.status-filter:hover,
.status-filter:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cases  */
.cases {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.cases-card {
  width: 370px;
  margin: 15px;
}

.cases-link {
  position: relative;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-link:hover,
.cases-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cases-overlay {
  position: relative;
  overflow: hidden;
}

.cases-overlay-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-link:hover .cases-overlay-block,
.cases-link:focus .cases-overlay-block {
  transform: translateY(0);
}

.cases-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 322px;
  transform: translate(-50%, -50%);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.cases-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.cases-title {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cases-product {
  color: var(--secondary-text-color);
  margin-top: 0;

  font-size: 16px;
  line-height: 1.88;
}
