.team__section {
  background-color: var(--secondary-bg-color);
}

.team__list {
  display: flex;
}

.team__card {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:first-child) {
  margin-left: 30px;
}

.team__desc {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  color: var(--secondary-text-color);
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__contacts {
  display: flex;
  gap: 10px;
  margin: 0 32px;
}

.tmcont__item {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socnet {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--items-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socnet:hover,
.socnet:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.socnet__icon {
  fill: currentColor;
}
