:root {
    --page-header-color: #ececec;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #ffffff;
    --black-text-color: #000000;
  
    --accent-color: #2196f3;
    --items-color: #afb1b8;
  
    --primary-bg-color: #ffffff;
    --accent-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
  }